body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(40px,120px);
}
.main{
    height: 30vh;
    width: 40vh;
    background-color: aqua;
    border: 2px solid black;
    transform: translate(30px,120px);
    transform: rotate(10deg);
    border-radius: 30px
}
.input{
     margin: 75px;
}

